/*
Theme Name:     LA School Report
Theme URI:      http://largoproject.org
Description:    A child theme for the LA School Report based on the Project Largo parent theme.
Author:         Adam Schweigert/INN
Author URI:     http://largoproject.org
Template:       largo
Version:        0.1.0
*/
h1,h2,h3,h4,h5,h6 {
  font-family:"museo slab", Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
}
h1 a,
h2 a,
h3 a,
h5 a {
  color: #000;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h5 a:hover,
#site-footer h5 a {
  color: #B72D28;
}
#homepage-bottom .widgettitle a,
#homepage-bottom .widgettitle a:hover {
  color: #333;
}
p {
  font-size: 17px;
}
#homepage-featured .top-story h2 {
  font-size: 36px;
}
h1.entry-title {
  font-size: 40px;
  line-height: 1.3;
}
.header_img {
  padding: 20px 0;
}
#content #comments-title {
  font-size: 24px;
}
@media (max-width: 768px) {
  h1.entry-title {
    font-size: 28px;
    line-height: 1.1;
  }

}